.add {
	background-image: url(__ctxPath+'/resources/images/btn/add16x16.gif') !important;
}

.edit {
	background-image: url(__ctxPath+'/resources/images/btn/edit16x16.gif') !important;
}

.delete {
	background-image: url(__ctxPath+'/resources/images/btn/delete16x16.png') !important;
}

.collapse {
	background-image: url(__ctxPath+'/resources/images/btn/collapse16x16.png') !important;
}

.expand {
	background-image: url(__ctxPath+'/resources/images/btn/expand16x16.png') !important;
}

.refresh {
	background-image: url(__ctxPath+'/resources/images/btn/refresh16x16.png') !important;
}

.save {
	background-image: url(__ctxPath+'/resources/images/btn/save16x16.png') !important;
}

.clear {
	background-image: url(__ctxPath+'/resources/images/btn/reset16x16.png') !important;
}

.search {
	background-image: url(__ctxPath+'/resources/images/btn/search16x16.gif') !important;
}

.submit {
	background-image: url('./resources/images/btn/submit16x16.png') !important;
}

.cancel {
	background-image: url(__ctxPath+'/resources/images/btn/cancel16x16.png') !important;
}

.exit{
	background-image: url(__ctxPath+'/resources/images/frame/home/exit.png')
		!important;
}

.currentUser{
	background-image: url(__ctxPath+'/resources/images/frame/home/user.png')
		!important;
}

.helpDoc{
	background-image: url(__ctxPath+'/resources/images/frame/home/help.gif')
		!important;
}

.userSet{
	background-image: url(__ctxPath+'/resources/images/frame/home/set.gif')
		!important;
}